<footer class="section-footer">
  <div class="row">
      <div class="col-1-of-2">
          <div class="footer__navigator">
              <ul class="footer__list">
                  <li class="footer__item"><a class="footer__link" [routerLink]="'/contact'">Contact Us</a></li>
                  <li class="footer__item"><a class="footer__link" [routerLink]="'/'">Home</a></li>
                  <li class="footer__item"><a class="footer__link" [routerLink]="'/menu'">Menu</a></li>
                  <li class="footer__item"><a class="footer__link" [routerLink]="'/about'">About</a></li>
                  <li class="footer__item"><a class="footer__link" [routerLink]="'/'">Careers</a></li>
              </ul>
          </div>
      </div>
      
      <div class="col-1-of-2">
          <p class="footer__copyright">
              Design by <a href="#" class="footer__link">Jason Lu</a> Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum voluptas pariatur placeat voluptatum tempore hic cumque cum, consectetur accusamus atque error, modi soluta dicta harum dignissimos quidem est saepe quae?
          </p>
      </div>
  </div>
</footer>