<section class="about-section">
  <div class="about-section__top">
    <h2>Our History</h2>
    <p>Started in 2010, Ristorante con Fusion quickly established itself as a culinary icon par excellence in Hong Kong. With its unique brand of world fusion cuisine that can be found nowhere else, it enjoys patronage from the A-list clientele in Hong Kong.  Featuring four of the best three-star Michelin chefs in the world, you never know what will arrive on your plate the next time you visit us.</p>
    <p>The restaurant traces its humble beginnings to <em>The Frying Pan</em>, a successful chain started by our CEO, Mr. Peter Pan, that featured for the first time the world's best cuisines in a pan.</p>
  </div>

  <h2 class="heading">Our Office Location</h2>

  <div class="about-section__middle">
    <div class="part">
      <img src="../../assets/img/united-states.png" alt="United State">
      <h3>Arlington, TX</h3>
      <p>2905 S. Delaware Street, Suite 201</p>
      <p>Arlington Texas 77077</p>
      <p>Reception/General enquiries: <a href="tel:+16504211234">+1 640 421 1234</a></p>
      <p>Availability: (Mon-Fri) 9AM to 5PM CDT</p>
    </div>

    <div class="part">
      <img src="../../assets/img/vietnam.png" alt="Vietnam">
      <h3>Saigon, VN</h3>
      <p>693 Le Loi, Phuong 4 Go Vap</p>
      <p>Saigon Noi tao song</p>
      <p>Reception/General enquiries: <a href="tel:+84908232880">+84 908 232 880</a></p>
      <p>Availability: (Mon-Fri) 9AM to 5PM ICT</p>
    </div>

    <div class="part">
      <img src="../../assets/img/south-korea.png" alt="South Korea">
      <h3>Seoul, KR</h3>
      <p>111-0 Sanrim-dong, Jung-gu</p>
      <p>Seoul, KR</p>
      <p>Reception/General enquiries: <a href="tel:8230353971">+82 3 035 3971</a></p>
      <p>Availability: (Mon-Fri) 9AM to 5PM KST</p>
    </div>

  </div>

  <div class="about-section__bottom">
    <div class="text-box">
      <h1>We'd love to hear from you</h1>
      <p>Whether you have a question about features, pricing, trials, or anything else
        , our teams is ready to help you with all.
      </p>
    </div>
  
    <button [routerLink]="'/contact'">Get in touch</button>
  </div>
</section>