<section class="section-contact">
  <h1>Contact Us</h1>
  <h3>Question not answered yet? We are here to help!</h3>

  <form [formGroup]="form" class="contact-form">
    <div class="contact-form__input">
      <label for="name">Name</label>
      <input type="text" id="name" placeholder="Your Name" formControlName="name">
    </div>

    <div class="contact-form__input">
      <label for="email">E-mail</label>
      <input type="text" id="email" placeholder="Your E-mail" formControlName="email">
    </div>

    <div class="contact-form__input">
      <label for="phone">Phone Number</label>
      <input type="text" id="phone" placeholder="Your Phone Number" formControlName="phone">
    </div>

    <div class="contact-form__textarea">
      <textarea formControlName="message" placeholder="Your Feedback" rows=12></textarea>
    </div>

    <button class="contact-form__button" type="submit">Submit</button>
  </form>

</section>

<div class="contact">
  <p>Question not answered here?</p>
  <a href="#">Contact Us</a>
</div>