.container {
  margin: 20px;
  display: flex;
  font-size: 1.6rem;
  // background-color: white;
}

.mat-grid-title {
  transition: all 0.4s;

  &:hover {
    background-color: black;;
  }
}
.mat-grid-tile-footer {
  background:rgba(234, 136, 75, 0.8) !important;
  color: black !important;
}

