<!-- <div class="container"
    fxLayout="column"
    fxLayoutGap="10px">

  <div class="menu">
    <div *ngFor="let dish of dishes" class="menu__item">
      <img src={{dish.image}} alt={{dish.name}} class="">
      <h1> {{dish.name}} </h1>
      <p>
        <span> {{dish.description}} </span>
      </p>
    </div>
  </div>

</div> -->

<div class="container"
  fxLayout="column"
  fxLayoutGap="10px">

  <div fxFlex>
    <div>
      <h3>Menu</h3>
      <hr>
    </div>
  </div>

  <div fxFlex>
    <mat-grid-list cols="2" rowHeight="200px">
      <mat-grid-tile *ngFor="let dish of dishes, index as itemId" [routerLink]="['/items', itemId]">
        <img height="200px" src={{dish.image}} alt={{dish.name}}>
        <mat-grid-tile-footer>
          <h1>{{ dish.name | uppercase }}</h1>
        </mat-grid-tile-footer>
      </mat-grid-tile>
    </mat-grid-list>
  </div>

  <!-- Truoc khi tao itemDetail -->
  <!-- <div class="detail" *ngIf="selectedDish">
    <div class="detail__duma">
      <img class="detail__img" src={{selectedDish.image}} alt={{selectedDish.name}}>
      <div class="buttons">
        <button class="button">SHARE</button>
        <button class="button">LIKE</button>
        <button class="button">BACK</button>
      </div>
    </div>

    <div class="detail__specific" fxFlex>
      <h1>Comments</h1>
      <mat-list>
        <mat-list-item *ngFor="let cmt of selectedDish.comments">
          <p matLine>{{ cmt.rating }}</p>
          <p matLine>{{ cmt.comment }}</p>
          <p matLine>{{ cmt.author }}</p>
          <p matLine>{{ cmt.date | date }}</p>
        </mat-list-item>
      </mat-list>
    </div>
  </div> -->
</div>
