.container {
  margin: 20px;
  display: flex;
  font-size: 1.6rem;
  // background-color: white;
}

.mat-grid-title {
  transition: all 0.4s;

  &:hover {
    background-color: black;;
  }
}
.mat-grid-tile-footer {
  background: rgba(255, 99, 71, 0.6) !important;
  color: black !important;
}

