<main class="main">
  <div class="card-container">
    <div *ngFor="let item of items; index as i" class="card">
      <div class="card__header">
        <div class="card__picture">
          <div class="card__picture-overlay">&nbsp;</div>
          <img src={{item.image}} alt={{item.name}} 
          class="card__picture-img"
          />
        </div>

        <h3 class="heading-tertirary">
          <span>{{item.name}}</span>
        </h3>
      </div>

      <div class="card__details">
        <h4 class="card__sub-heading">{{item.highlight}}</h4>
        <p class="card__text">
          {{item.description}}
        </p>
        <!-- <div class="card__data">
          <svg class="card__icon">
            <use xlink:href="img/icons.svg#icon-map-pin"></use>
          </svg>
          <span>Banff, Canada</span>
        </div>
        <div class="card__data">
          <svg class="card__icon">
            <use xlink:href="img/icons.svg#icon-calendar"></use>
          </svg>
          <span>April 2021</span>
        </div>
        <div class="card__data">
          <svg class="card__icon">
            <use xlink:href="img/icons.svg#icon-flag"></use>
          </svg>
          <span>3 stops</span>
        </div>
        <div class="card__data">
          <svg class="card__icon">
            <use xlink:href="img/icons.svg#icon-user"></use>
          </svg>
          <span>25 people</span>
        </div> -->
      </div>

      <div class="card__footer">
        <p>
          <span class="card__footer-value">${{item.price}} </span>
          <span class="card__footer-text">per dish</span>
        </p>
        <p class="card__ratings">
          <span class="card__footer-value">4.9 </span>
          <span class="card__footer-text">rating (21)</span>
        </p>
        <a [routerLink]="['/items', item.id]" class="btn btn--small">Details</a>
      </div>

      <div class="remove">
        <a class="remove__btn" (click)="removeItem(i)">X</a>
      </div>

    </div>
  </div>
</main>