.navigation-section {
  background-color: var(--color-grey-beauty);
  padding: 1.5rem 8rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.199);
}

.nav-bar {
  display: flex;
  font-size: 2rem;
  text-transform: uppercase;
  align-items: center;

  &__item {
    list-style: none;
    &:not(:last-child) {
      margin-right: 2rem;
    }
  }

  &__link {
    text-decoration: none;
    color: var(--color-grey-dark-1);
    transition: color .2s;
    padding-bottom: 1.5rem;

    &:hover {
      color: var(--color-primary-dark);
      border-bottom: .2rem solid var(--color-primary-dark);
    }
  }
}
