/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

:root {
  --color-primary: #fd7d31;
  --color-primary-dark:#ff660a;
  --color-primary-light: #fc8842;

  --color-pink: #eb2f64;
  --color-pink-light:#ff3366;
  --color-pink-dark: #ba265d;

  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-3-opa: #f0eeee5e;
  --color-grey-light-4: #ccc;
  --color-grey-light-4-opa: rgba(204, 204, 204, 0.1);

  --color-grey-beauty: #f7f4f3;
  --color-font: #554740;
  
  --color-grey-dark-beauty: #252424;
  --color-grey-darker-beauty: #201f1f;

  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;

  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.06);
  --line: 1px solid var(--color-grey-light-1);
}

// ``` HINH NHU KO DUNG DUOC VARIABLE NAY ```
// $color-grey-light1: #f7f7f7;

* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: 'Open Sans';
  background-color: var(--color-primary-light);
}

@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

//~~~~~~~~~~~~~~~~~~~~~~~~~~ROW-GRID~~~~~~~~~~~~~~~~~~~~~~~~~~
.row {
  max-width: 114rem;
  margin: 0 auto; //cho nó ra giữa

  &:not(:last-child) {
    margin-bottom: 8rem; //gutter-vertical
  }

  // sau khi declare float left thì các element trong row sẽ floated, row trên sẽ collapse với row dưới
  @include clearfix;

  // ^= : start with, *= : contain, $= : end with
  [class^="col-"] {
    float: left;

    &:not(:last-child) {
      margin-right: 6rem; //gutter-horizontal
    }
  }

  .col-1-of-2 {
    width: calc((100% - #{6rem}) / 2);
    //using attribute selector START WITH "col-"
  }
  .col-1-of-3 {
    width: calc((100% - 2 * #{6rem}) / 3);
  }

  .col-2-of-3 {
    width: calc(
      2 * ((100% - 2 * #{6rem}) / 3) + #{6rem}
    );
  }

  .col-1-of-4 {
    width: calc((100% - 3 * #{6rem}) / 4);
  }

  .col-2-of-4 {
    width: calc(
      2 * ((100% - 3 * #{6rem}) / 4) + #{6rem}
    );
  }

  .col-3-of-4 {
    width: calc(
      (3 * (100% - 3 * #{6rem}) / 4) + 2 * #{6rem}
    );
  }
}

// Muốn sửa Angular Material thì phải sửa ở nơi import nó (ý là ngoài đây) ko sửa
// trong component đc
.mat-accent .mat-slider-thumb, .mat-accent .mat-slider-thumb-label, .mat-accent .mat-slider-track-fill {
  background-color: #ff9640;
}