<div class="home-section">
  <section class="begin">
    <div class="begin__text-box">
      <h1 class="heading-primary">
        <span class="heading-primary__main">Food is the</span>
        <span class="heading-primary__sub"
          >ingredient that binds us together</span
        >
      </h1>
    </div>

    <button [routerLink]="'/menu'" class="btn">Discover our dishes</button>
  </section>

  <section class="feature">
    <div class="row">
      <!-- <div class="col-1-of-4"> -->
        <div class="feature-box">
          <svg class="feature-box__icon">
            <use xlink:href="../../assets/img/sprite.svg#icon-home"></use>
          </svg>
          <h3 class="heading-tertiary">
            Homemade ingredients
          </h3>
          <p class="feature-box__text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis
            maiores non
          </p>
        </div>
      <!-- </div> -->

      <!-- <div class="col-1-of-4"> -->
        <div class="feature-box">
          <svg class="feature-box__icon">
            <use xlink:href="../../assets/img/sprite.svg#icon-shop"></use>
          </svg>
          <h3 class="heading-tertiary">Vegetable Groceries</h3>
          <p class="feature-box__text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis
            maiores non
          </p>
        </div>
      <!-- </div> -->

      <!-- <div class="col-1-of-4"> -->
        <div class="feature-box">
          <svg class="feature-box__icon">
            <use xlink:href="../../assets/img/sprite.svg#icon-map"></use>
          </svg>
          <h3 class="heading-tertiary">Explore the world</h3>
          <p class="feature-box__text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis
            maiores non
          </p>
        </div>
      <!-- </div> -->

      <!-- <div class="col-1-of-4"> -->
        <div class="feature-box">
          <svg class="feature-box__icon">
            <use xlink:href="../../assets/img/sprite.svg#icon-star-empty"></use>
          </svg>
          <h3 class="heading-tertiary">
            Rate your experience
          </h3>
          <p class="feature-box__text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis
            maiores non
          </p>
        </div>
      <!-- </div> -->
    </div>
  </section>
</div>
